<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchTranslatorAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatchTranslatorAddIn.Properties.Settings>
            <setting name="Config" serializeAs="String">
                <value>{
  "From": 2,
  "To": 0,
  "GenerateDirection": 1,
  "TransEngine": 0,
  "BaiduProperty": {
    "AppID": "",
    "Secret": "",
    "QPS": 10
  },
  "CaiyunProperty": {
    "Token": "",
    "QPS": 10
  }
}</value>
            </setting>
        </BatchTranslatorAddIn.Properties.Settings>
    </userSettings>
</configuration>